@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-image: linear-gradient(145deg, rgb(95, 95, 185), rgb(130, 77, 130));
    height: 100vh;
}

.card {
    background-color: white;
    height: 50%;
    width: 33%;
    padding: 0.4rem;
    border: 10px double black;
    border-radius: 1rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
    transform: scale(0.8);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    color: rgb(215, 126, 126);
    transition: all ease .6s
}

.container {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.right {
    text-align: right;
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    border-radius: 4px;
    border: 2.2px solid rgba(0, 0, 0, 0.7);
}

.create input{
    margin-bottom: 1rem;
    width: 60%;
    padding: 3px 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

form {
    padding: 1.4rem 0;
    background-color: white;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 3px 10px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

form input {
    margin-bottom: 1rem;
    width: 60%;
    padding: 3px 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.loginBtn {
    background-color: rgb(97, 163, 97);
    color: white;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: .8rem 1.5rem;
    width: 200px;
    margin-top: 1.4rem;
}

.loginBtn:hover {
    background-color: rgb(50, 136, 50);
    transition: all ease 300ms;
}

.titleContainer {
    padding: 1rem;
}

.titleContainer span {
    font-size: 1rem;
    color: rgb(95, 61, 120);
}

.inputContainer {
    margin-top: 1.4rem;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    flex: 10%;
}

.signOutBtn {
    background-color: rgb(210, 86, 86);
    color: white;
    font-size: .6rem;
    border-radius: 5px;
    border: none;
    padding: .4rem .75rem;
    cursor: pointer;
}
.signOutBtn:hover {
    background-color: rgb(137, 35, 35);
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color: white;
    padding: .6rem 1.2rem;
    height: 75px;
    border-radius: 4px;
    border: 2.2px solid rgba(0, 0, 0, 0.7);
}

.createBtn {
    background-color: rgb(97, 163, 97);
    color: white;
    font-size: .6rem;
    border-radius: 5px;
    border: none;
    padding: .4rem .75rem;
    cursor: pointer;
}
.createBtn:hover {
    background-color: rgb(50, 136, 50);
}

.deleteBtn {
    background-color: rgb(223, 53, 53);
    padding: .2rem .4rem;
    color: white;
}

.message {
    width: fit-content;
    padding: 1rem;
    color: white;
    border-radius: 4px;
}